<!--The content below is only a placeholder and can be replaced.-->
<div class="test1">
  <h2>CSS:</h2>
  <pre>
    <code>
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;

      border-top-left-radius: var(--control-border-radius);
      border-bottom-left-radius: var(--control-border-radius);
    </code>
  </pre>

  <h2>Result after running ng build --prod: (expected behavior)</h2>
  <pre>
    <code>
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;
      border-top-left-radius: var(--control-border-radius);
      border-bottom-left-radius: var(--control-border-radius);
    </code>
  </pre>
</div>

<div class="test2">
  <h2>CSS:</h2>
  <pre>
    <code>
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;

      border-top-left-radius: var(--control-border-radius);
      border-bottom-left-radius: var(--control-border-radius);

      // NOTE THE FOLLOWING TWO LINES COMPARED TO THE EXAMPLE ABOVE
      border-top-right-radius: 0px; 
      border-bottom-right-radius: 0px;

    </code>
  </pre>

  <h2>Result after running ng build --prod:</h2>
  <pre>
    <code>
      border-top-left-radius: 1px;
      border-bottom-left-radius: 1px;
      border-top-left-radius: var(--control-border-radius);
      border-bottom-left-radius: var(--control-border-radius);
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border: 1px 0px 0px 1px; <-- this line was added which is not correct as it does not make use of the variables
    </code>
  </pre>
</div>
